.nav-link{
    section: 
}
body{
    text-align: center;
    color: white;
    background-image: url("https://static.giga.de/wp-content/uploads/2017/12/wow_battle_for_azeroth.jpg");
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 22px;
    font-style: italic;
}

@media only screen and (min-device-width: 400px) {
    body {
    }
}
header{
    display: flex;
    align-items: baseline;
}

form{
    background-color: black;
    opacity: 80%;
    border-radius: 150px;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
}