
body{
    text-align: center;
    color: white;
    background-image: url(https://gamespot1.cbsistatic.com/uploads/original/280/2802776/3075204-warcraft-movie-durotan-and-anduin-2016.jpg);
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 22px;
    font-style: italic;
}

.logo{
    width: 60vw;
}

header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-right: 500px;
    border-radius: 20px;
}
@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 50%;
      position: relative;
    }
  }
  .logo > img {
    width: 50%;
    height: 50%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }

#email{
    height: 30px;
    width: 30%;
    margin: 0 auto;
}
form{
    background-color: black;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    opacity: 85%;
    border-radius: 150px;
    padding: 20px;
}
li{
    list-style: none;
}
#pricing{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.product > .level{
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0;
}
.product > h2{
    margin-top: 15px;
}
.product > ol{
    margin: 15px 0;
}
.product > ol > li{
    padding: 5px 0;
}
.product > button:hover{
    background-color: orange;
    transition: background-color 1s;
}
@media (max-width: 800px){
    #pricing{
        flex-direction: column;
    }
    .product{
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

a:hover{
    color: orangered;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    color: white
  }

#submit:hover {
    color: snow;
    animation-name: background-color;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes background-color{
    100% {
        background-color: orange;
    }
}
footer{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
footer > ul > li {
    padding: 0 20px;
  }

  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  footer {
    margin-left: 1500px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 20px;
  }